# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*kefile.so
*.so.*
*.dylib

# Executables
examples/controller/uechobench/unix/uechobench
examples/controller/uechodump/unix/uechodump
examples/controller/uechopost/unix/uechopost
examples/controller/uechosearch/unix/uechosearch
examples/device/uecholight/unix/uecholight

# Automake files
config.*
Makefile
aclocal.m4
autom4te.cache/
*.dirstamp
.deps/
stamp-h2

# MacOSX
.DS_Store
xcuserdata/
*.xcworkspace/

# Coverage files
*.gcov
*.gcda
*.gcno